.truck {
    margin:0 0 0 -45px;
    width:350px;
    height:210px;
    border:1px solid transparent; /*#fff;*/
    position:absolute;
    display:block;
}
.truck *{ position:absolute;}
.truck #truckBack {
    display:block;
    height: 115px;
    width: 190px;
    -webkit-border-radius:6px 6px 0 6px;
    -moz-border-radius:6px 6px 0 6px;
    -o-border-radius:6px 6px 0 6px;
    -ms-border-radius:6px 6px 0 6px;
    border-radius:6px 6px 0 6px;
    border:1px solid #ddd;
    background: rgb(252,255,244);

    background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-8 */
}
.truck #truckBack p{
    font-family: 'Segoe UI', cursive;
    font-weight:bold;
    font-size:18px;
    color:#ffffff;
    margin:10px 20px 10px 10px;
    display:block;
    text-align:center;
}
.truck #truckFront{
    border-bottom: 95px solid #707070;
    border-right: 50px solid transparent;
    height: 0;
    width: 70px;
    margin:20px 0 0 190px;
}
.truck #truckFront::before{
    content:'';
    height:7px;
    width: 20px;
    margin:50px 0 0 15px;
    z-index:20;
    background-color:#000;
    position:absolute;
    border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    -ms-border-radius:6px;
    -webkit-border-radius:6px;
}
.truck #truckBumper{
    height: 45px;
    width: 70px;
    background-color:#707070;
    margin:70px 0 0 240px;
}
.truck #truckBumper::after{
    content:'';
    height: 45px;
    width: 75px;
    background-color:#707070;
    margin:-13px 0 0 -5px;
    position:absolute;
}
.truck #truckFront #truckWindow{
    border-bottom: 35px solid #000;
    border-right: 18px solid transparent;
    height:0;
    width: 57px;
    margin:5px 0 0 10px;
    z-index:10;
    -webkit-border-radius:5px 0 0 0;
    -moz-border-radius:5px 0 0 0;
    -o-border-radius:5px 0 0 0;
    -ms-border-radius:5px 0 0 0;
    border-radius:5px 0 0 0;
}
.truck #truckFront #ForntBumper{
    height:18px;
    width: 30px;
    margin:77px 0 0 95px;
    z-index:10;
    background-color:#444;
    border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    -ms-border-radius:6px;
    -webkit-border-radius:6px;
    border:1px solid #333;
}
.truck #truckFront #ForntBumper::after{
    content:'';
    height:20px;
    width: 10px;
    margin:-21px 0 0 15px;
    z-index:10;
    background-color:#CCC;
    position:absolute;
    border-radius:6px 0 0 0;
    -moz-border-radius:6px 0 0 0;
    -o-border-radius:6px 0 0 0;
    -ms-border-radius:6px 0 0 0;
    -webkit-border-radius:6px 0 0 0;
    border-top:1px solid #888;
}
#rearWheel,#frontWheel {
    width:58px;
    height:58px;
    display:block;
    background-color:#000;
    z-index:20;
    border:1px dashed #fff;
    -webkit-border-radius:58px;
    -moz-border-radius:58px;
    -o-border-radius:58px;
    -ms-border-radius:58px;
    border-radius:58px;
}
#frontWheel {
    margin:90px 0 0 235px;
}
#rearWheel {
    margin:90px 0 0 45px;
}
#innerWhite {
    width:36px;
    height:36px;
    -webkit-border-radius:36px;
    -moz-border-radius:36px;
    -o-border-radius:36px;
    -ms-border-radius:36px;
    border-radius:36px;
    display:block;
    background-color:#d3d3d3;
    z-index:20;
    margin:11px 0 0 12px;
}
#innerBlack
{
    width:24px;
    height:24px;
    -webkit-border-radius:24px;
    -moz-border-radius:24px;
    -o-border-radius:24px;
    -ms-border-radius:24px;
    border-radius:24px;
    display:block;
    background-color:#000;
    z-index:20;
    margin:6px 0 0 6px;
}